# 1_loading.ipynb

- Goal: Merge twitter data from twitter API
- from json format to dataframe and csv

In [1]:
# import packages
import re
import pandas as pd

In [2]:
# filter files only for our big data project, any language
all_files = os.listdir(path='twitterdata')
r = re.compile(".*_(movie)")
files = list(filter(r.match, all_files)) 
len(files)

14

In [3]:
#make one dataframe out of all these files
dfs = []

files_paths = ['twitterdata/' + file for file in files]

for x in files_paths:
    data = pd.read_json(x)
    dfs.append(data)

df = pd.concat(dfs)

In [4]:
# overview of the df
df.shape

(10965, 13)

In [5]:
df.columns

Index(['user_id', 'user_statuses', 'name', 'tweet', 'retweets', 'location',
       'created', 'followers', 'is_user_verified', 'favorite_count',
       'in_reply_to_status_id', 'keyword', 'language'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10965 entries, 0 to 99
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   user_id                10965 non-null  int64
 1   user_statuses          10965 non-null  int64
 2   name                   10965 non-null  object
 3   tweet                  10965 non-null  object
 4   retweets               10965 non-null  int64
 5   location               10965 non-null  object
 6   created                10965 non-null  object
 7   followers              10965 non-null  int64
 8   is_user_verified       10965 non-null  bool
 9   favorite_count         10965 non-null  int64
 10  in_reply_to_status_id  4901 non-null   float64
 11  keyword                10965 non-null  object
 12  language               10965 non-null  object
dtypes: bool(1), float64(1), int64(5), object(6)
memory usage: 1.1+ MB

In [7]:
df.head()

,user_id,user_statuses,name,tweet,retweets,location,created,followers,is_user_verified,favorite_count,in_reply_to_status_id,keyword,language
0,1308491138077274113,9281,GoaFetz,@DFliesstext ... die schon vor weit über einem...,0,Berlin,11-Jun-2021,346,False,0,1.403253e+18,movie,de
1,18772279,5917,outnow,Seit dieser Woche läuft «Demon Slayer the Movi...,0,Zürich,11-Jun-2021,3321,False,0,NaN,movie,de
2,883643872747835392,253,subhajit_mshra,#6\n\nMehndi Hai Rachnewali\n\nMovie - Zubeida...,0,"Mumbai, India",11-Jun-2021,181,False,0,1.403252e+18,movie,de
3,4273473912,15425,ynadevs,Movie marathon,0,,11-Jun-2021,619,False,1,NaN,movie,de
4,23049076,19246,Nimbert,Anderer Ansatz als die bisherigen 12 #XMen Fil...,0,"Europe, Germany, Hannover",11-Jun-2021,238,False,0,NaN,movie,de

In [9]:
df.drop(['user_statuses', 
        'followers', 'is_user_verified', 'favorite_count',
       'in_reply_to_status_id'], axis=1, inplace=True)

In [14]:
df.head()

,user_id,name,tweet,retweets,location,created,keyword,language
0,1308491138077274113,GoaFetz,@DFliesstext ... die schon vor weit über einem...,0,Berlin,11-Jun-2021,movie,de
1,18772279,outnow,Seit dieser Woche läuft «Demon Slayer the Movi...,0,Zürich,11-Jun-2021,movie,de
2,883643872747835392,subhajit_mshra,#6\n\nMehndi Hai Rachnewali\n\nMovie - Zubeida...,0,"Mumbai, India",11-Jun-2021,movie,de
3,4273473912,ynadevs,Movie marathon,0,,11-Jun-2021,movie,de
4,23049076,Nimbert,Anderer Ansatz als die bisherigen 12 #XMen Fil...,0,"Europe, Germany, Hannover",11-Jun-2021,movie,de

In [18]:
df.to_csv('raw_movie.csv', sep='ß')

In [10]:
# check value counts for all predefined kexwords ind 0_twitter_api.pynb
df.keyword.value_counts()

movie        10956
movie2021        9
Name: keyword, dtype: int64

In [17]:
df.favorite_count.value_counts()

0       6712
1       2200
2        672
3        335
4        230
        ...
493        1
344        1
2193       1
136        1
3118       1
Name: favorite_count, Length: 101, dtype: int64

In [11]:
df.location.value_counts()

                               3344
she/her                         183
India                            94
Paris, France                    63
München, Bayern                  57
                               ...
Scotland  - Senegal               1
 | she/her | 17 | bi |            1
Las Palmas G.C                    1
neo city -exo planet              1
Berlin, Paris, London, Gera       1
Name: location, Length: 4327, dtype: int64

In [12]:
# save df as json and csv
# df_csv = df.to_csv("movie.csv")

In [ ]:
d